.listBlogContainer{
    width: 1200px;
    margin: 0 auto;   
    text-align: center;
}
/* .sidebarItem{
    display: flex;
} */
 .listBlogs{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
 }